# Python
__pycache__/
*.pyc
venv/
env*/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb*
notebooks/

# Project Data & Outputs
pdf_image_extraction_dataset/
pdf_image_extraction_dataset.zip
dataset/
pdfs/
extraction_time.txt
xp1/
xp2/
xp1_and_xp2/
selected_figures/
xfigs/
panel_dataset/
panels_mask/
xcaps/
figures/
copy-move-data/
output/

# Legacy / External Source
panel_extraction_src/
caption_extraction/
scripts/
src2/
test/
copy-move-data/

# IDE / OS
.vscode/
.idea/
.DS_Store
